<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Detalle de Contrato: {{ contrato.tipo }}</title>
  </head>
<body>
  <h1>Detalle de Contrato</h1>
  <ul>
    <li>Tipo de Contrato: {{ contrato.tipo }}</li>
    <li>Fecha de Inicio: {{ contrato.fecha_inicio }}</li>
    <li>Fecha de Fin (si aplica): {{ contrato.fecha_fin }}</li>
    <li>Detalles de Salario:</li>
      <ul>
        <li>Sueldo Base: {{ contrato.salario_base }}</li>
        <li>Bonificaciones (si aplican): {% if contrato.bonificaciones.count > 0 %}
          <ul>
            {% for bonificacion in contrato.bonificaciones.all %}
              <li>{{ bonificacion.descripcion }}: {{ bonificacion.monto }}</li>
            {% endfor %}
          </ul>
        {% else %}No hay bonificaciones registradas{% endif %}</li>
      </ul>
    <li>Información de Beneficios: {{ contrato.beneficios_informacion }}</li>
    <li>Colaborador Asociado: {{ contrato.colaborador.nombre }}</li>
    <li>Términos y Condiciones Adicionales: {{ contrato.terminos_condiciones }}</li>
  </ul>
</body>
</html>

