<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Evaluaciones del Contrato: {{ contrato.tipo }}</title>
  </head>
<body>
  <h1>Evaluaciones del Contrato: {{ contrato.tipo }}</h1>
  <table>
    <thead>
      <tr>
        <th>Fecha de Evaluación</th>
        <th>Evaluador (si aplica)</th>
        <th>Puntaje o Calificación General</th>
        <th>Comentarios o Retroalimentación</th>
        <th>Áreas de Mejora (si aplica)</th>
      </tr>
    </thead>
    <tbody>
      {% for evaluacion in evaluaciones %}
      <tr>
        <td>{{ evaluacion.fecha }}</td>
        <td>{{ evaluacion.evaluador.nombre }}</td>
        <td>{{ evaluacion.puntaje_calificacion }}</td>
        <td>{{ evaluacion.comentarios_retroalimentacion }}</td>
        <td>{{ evaluacion.areas_mejora }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
