/* static/css/styles.css */

body {
    padding-top: 70px; /* Ajuste para el navbar fijo */
    padding-bottom: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  /* Estilos adicionales */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  